.auth {
    width: 100%;
    margin: 1rem 0 4rem;
}

.auth h2 {
    margin: 0;
    text-align: center;
}

.auth input {
    padding: 1rem;
}

.auth > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-left: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.auth div > button {
    border: 1.5px solid var(--primary-color);
    text-transform: capitalize;
    background-color: transparent;
    padding: 0.7rem 4rem;
    border-radius: 10px;
}

.auth h3 {
    text-transform: capitalize;
}

.auth input {
    padding: 0.7rem;
}

.auth label > span {
    position: absolute;
    left: 2.5rem;
    background-color: var(--modal-span);
    border-radius: 5px;
    padding: 0.1rem 0.5rem 0.2rem;
    text-transform: capitalize;
    color: var(--modal-txt-span);
}