.hero .image {
  width: 100%;
  height: max-content;
  position: relative;
  object-fit: cover;
  border-width: 5px 1.5px 5px;
  border-style: solid;
  border-color: #002b4c;
  border-radius: 50px;
}
/*background-color: #f59e71; , ;*/

.hero {
  background-color: transparent;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero > h1 {
  color: var(--primary-color);
  text-align: center;
}

section.offers {
  padding: 1rem;
}

section.offers > span {
  text-transform: capitalize;
  display: block;
  font-size: 2rem;
  padding: 0.4rem 1rem;
}

section.offers > h4 {
  display: flex;
  gap: 0.5rem;
  text-transform: capitalize;
  color: navy;
  font-size: 1.3rem;
  padding-left: 1rem;
}

section.offers h4 > span {
  color: red;
}

section.offers > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

section.offers > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border-radius: 50px;
  padding: 2rem;
  background-color: var(--div-color);
  box-shadow: var(--box-shadow);
}

section.offers h3 span {
  display: flex;
  align-items: center;
}

section.offers > div a {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  color: var(--bg-txt-color);
  align-self: left;
  margin-left: 2rem;
  border-radius: 50px;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

section.offers > div a:hover {
  background-color: rgba(0, 100, 0, 0.1);
  color: var(--bg-txt-color);
  border: none;
}

section.offers p {
  text-transform: capitalize;
  width: 80%;
}

section.offers > div > div h3 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

section.offers > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.instituitionHero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.instituitionHero > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.instituitionHero .text1 {
  position: absolute;
  top: 0;
  height: 300px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.instituitionHero .text1 > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.instituitionHero .text1 a {
  padding: 0.4rem 1rem;
  background-color: rgba(225, 225, 225, 0.8);
  color: black;
  outline: 2px solid green;
  outline-offset: 0.2rem;
  align-self: flex-end;
}

.instituitionHero .text2 a {
  padding: 0.7rem 1.5rem;
  color: black;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.instituitionHero .text1 > div span {
  background-color: rgba(0, 0, 0, 0.8);
  width: fit-content;
  padding: 0.5rem;
  text-transform: capitalize;
  color: white;
  font-size: 1.2rem;
}

.instituitionHero .text2 > div {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.instituitionHero span {
  display: inline;
}

.instituitionHero .text2 a {
  display: none;
}

.sub_offers section > p {
  font-size: 1.4rem;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
}

.sub_offers {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem 0 1rem 0.5rem;
}

.sub_offers > section {
  margin: 0 1rem 0 1rem;
}

.sub_offers > div > div {
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 50px;
}

.sub_offers > div > div > div {
  box-shadow: var(--box-shadow);
}

.sub_offers div h2 {
  padding: 0.5rem;
  margin: 0;
  font-size: 1.7rem;
  width: fit-content;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 0.5px black;
  background-color: rgba(0, 0, 0, 0.7);
}

.sub_offers > h3 {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.sub_offers > div {
  display: flex;
  overflow: auto;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  scrollbar-width: none;
}

.sub_offers > div > div {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.sub_offers > div > div p {
  font-size: 1.1rem;
  border-radius: 50px;
}

.sub_offers > div > div > div {
  width: 100%;
  border-radius: 50px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sub_offers div.card1 {
  background-image: url("../../public/RealQuestions.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_offers div.card3 {
  background-image: url("../../public/NewsUpdates.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_offers div.card4 {
  background-image: url("../../public/StudyMaterials.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_offers div.card2 {
  background-image: url("../../public/UpdatedContent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_offers > div > div ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: black;
  position: relative;
  z-index: 10;
  width: fit-content;
}

.sub_offers > div ul li span {
  border: 1.5px solid green;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.sub_offers > div ul li h4 {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.3rem;
}

.sub_offers ul li {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

@media screen and (min-width: 500px) {
  .hero > h1 {
    align-self: center;
    font-size: 2.8rem;
  }

  section.offers > div {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  section.offers > h4 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  section.offers > span {
    text-align: center;
  }

  section.offers p {
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  .instituitionHero {
    padding: 2rem;
  }

  .instituitionHero .text1 a {
    margin-bottom: 1.8rem;
  }

  .instituitionHero .text1 {
    width: 85%;
    top: 3rem;
    left: 3rem;
  }

  .instituitionHero > img {
    border-radius: 50px;
    box-shadow: var(--box-shadow);
  }

  .hero > h1 {
    align-self: center;
    font-size: 3rem;
  }

  section.offers p {
    text-align: left;
  }

  section.offers > div {
    align-items: self-start;
    width: 80%;
  }

  section.offers > div > div {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .instituitionHero {
    padding: 0;
  }

  .instituitionHero .text1 {
    width: 100%;
    top: 0rem;
  }

  .hero {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .hero > h1 {
    align-self: center;
    font-size: 2.3rem;
  }

  section.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.offers > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
  }

  section.offers > div > div {
    width: 100%;
  }

  .instituitionHero .text2 div {
    font-size: 1.8rem;
  }

  .instituitionHero {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 90%;
    margin: auto;
  }

  .instituitionHero .text1 a {
    display: none;
  }

  .instituitionHero .text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .instituitionHero .text1 > div span {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }

  .instituitionHero .text2 a {
    display: flex;
  }

  .instituitionHero .text1 {
    left: 1rem;
    top: 1rem;
  }

  section.offers p {
    text-align: left;
  }

  .sub_offers section > p {
    font-size: 2rem;
    text-align: center;
    width: 80%;
    margin: 2rem auto;
  }

  .sub_offers > div {
    flex-direction: column;
    gap: 2rem;
  }

  .sub_offers > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    border-radius: 50px;
    align-items: center;
  }

  .sub_offers > div > div p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 800px) {
  .hero > h1 {
    align-self: center;
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .hero > h1 {
    align-self: center;
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .hero > h1 {
    align-self: center;
    font-size: 4rem;
  }

  .sub_offers > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .sub_offers > div > div {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    border-radius: 50px;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1100px;
  }

  section.offers {
    width: 1100px;
    margin: auto;
  }

  .instituitionHero {
    width: 1100px;
  }

  .sub_offers {
    width: 1100px;
    margin: auto;
  }
}
