.hero .image {
    width: 100%;
    height: max-content;
    position: relative;
    object-fit: cover;
    border-width: 5px 1.5px 5px;
    border-style: solid;
    border-color: #002b4c;
    border-radius: 10px;
}
/*background-color: #f59e71; , ;*/

.hero {
    padding: 0 0.5rem 1rem;
    background-color: transparent;
}

.hero a {
    padding: 1rem 2rem;
    width: 50%;
    background-color: #002b4c;
    display: block;
    text-align: center;
    margin: auto;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    text-transform: capitalize;
}

.hero > div {
    display: flex;
    flex-direction: column;
    margin: -0.8rem 0.5rem 1.5rem;
    gap: 0.5rem;
    font-size: 2rem;
    font-family: serif;
    text-transform: capitalize;
    border-radius: 5px;
    color: #002b4c;
    text-align: center;
}

section.offers {
    padding: 1rem;
}

section.offers > span {
    text-transform: capitalize;
    display: block;
    font-size: 2rem;
    padding: 0.4rem 1rem;
}

section.offers h4 {
    display: block;
    text-transform: capitalize;
    color: navy;
    font-size: 1.3rem;
    padding-left: 1rem;
}

section.offers h4 > span {
    color: red;
}

section.offers > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section.offers > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 50px;
    padding: 1rem 2rem;
}

section.offers h3 span {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px black;
    padding: 0.5rem;
    border-radius: 50px;
}

section.offers > div a {
    text-decoration: none;
    padding: 0.8rem 2rem;
    text-transform: capitalize;
    color: black;
    align-self: left;
    border-radius: 50px;
    width: 100%;
    text-align: center;
    background-color: white;
    border: 2px solid #002b4c;
}

section.offers p {
    text-transform: capitalize;
}

section.offers > div > div h3 {
    text-transform: capitalize;
    color: #002b4c;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}