.contact-us > form p {
  width: fit-content;
}

main.contact section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1rem;
}

main.contact section > p {
  text-align: left;
}

.contact-us {
  padding: 1rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-us > form {
  width: 100%;
  margin-top: 1rem;
}

.contact-us .email {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.contact-us i {
  color: var(--secondary-color);
}

.contact-us > .email a {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-us form > div,
.contact-us .email > div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 3px 3px black;
  border: var(--border);
  padding: 1rem;
  gap: 0.5rem;
}

main.contact h2 {
  margin: 0 1rem;
}
