.manage_nav {
    padding: 1rem 1.5rem;
}

.manage_nav > nav {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.manage_nav > nav a {
    border: 1.5px solid rgb(49, 127, 49);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 10px;
    color: var(--bg-txt-color);
}

.manage_nav > nav > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border: var(--border);
    padding: 2rem;
    border-radius: 10px;
    gap: 1rem;
}

.manage_nav > nav > div h4 {
    text-transform: capitalize;
}

.manage_nav > nav > div h3 {
    grid-column: span 2;
    margin: 0;
    color: var(--bg-txt-color);
    text-transform: uppercase;
    color: var(--secondary-color);
}

.card {
    display: grid;
    grid-template-columns: 50px auto auto;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 5px;
    gap: 1rem;
}

.card > button {
    justify-self: end;
}

.card > h2 {
    grid-column: span 3;
    margin: 0;
}

.card > .image {
    height: 50px;
    width: 50px;
    border: var(--border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
}

.card h3 {
    color: var(--bg-txt-color);
    margin: 0;
    text-transform: capitalize;
    font-family: sans-serif;
}