main.manage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

div.switch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 1rem;
    border-width: 3px 0 3px;
    border-style: solid;
    border-color: var(--secondary-color);
    border-radius: 15px;
    padding: 1rem 0.5rem;
    margin: 0 0.5rem;
}

div.switch > h2 {
    grid-column: span 2;
}

div.switch > button {
    padding: 1rem 0;
    border-radius: 10px;
    border: 1.5px solid var(--secondary-color);
    text-transform: capitalize;
    color: var(--bg-txt-color);
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    white-space: pre-line;
}

fieldset.search {
    border: var(--border);
    padding: 0.5rem 1rem 1rem;
    margin: 1rem 0rem 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    gap: 0.5rem;
}

fieldset.search legend {
    text-transform: capitalize;
    padding: 0 0.5rem 0;
}

fieldset.search > div > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

fieldset.search > div ul {
    position: fixed;
    inset: 0;
    background-color: var(--modal);
    z-index: 5;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 7.5rem 1rem;
    border-radius: 10px;
    overflow: auto;
    text-align: center;
    backdrop-filter: blur(10px);
}

fieldset.search > div {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    white-space: nowrap;
    gap: 1rem;
    width: 100%;
    position: relative;
}

fieldset.search > div ul li {
    border: var(--border);
    padding: 1rem;
    border-radius: 50px;
}

fieldset.search > button {
    border: none;
    color: white;
    text-transform: capitalize;
    background-color: transparent;
    height: 40px;
    background-color: var(--secondary-color);
    width: 50%;
    border-radius: 50px;
}

.modify {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.modify > .retry, .loading, .searched {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 0.5rem;
    margin-top: 1rem;
}

.modify > .retry > button {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem 1.5rem;
    text-transform: capitalize;
    border-radius: 50px;
}

.modify h2 {
    margin: 0 3.5rem;
    color: var(--bg-txt-color);
    font-family: sans-serif;
}

.modify > .searched .data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
}

.modify > .searched .data > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-bottom: 0.5rem;
    gap: 0.3rem;
    border: var(--border);
    border-radius: 10px;
}

.modify > .searched .data > div h4 {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.modify > .searched .data > div h5 {
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.modify > .searched .data .instituitions h4 {
    border: none;
}

.modify > .searched .data .instituitions img {
    object-fit: contain;
}

.modify > .searched .data .instituitions > span {
    text-transform: uppercase;
}

.modify > .searched .data .instituitions {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}

.modify > .site-info-btns {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    align-items: center;
}

.modify > .site-info-btns button {
    background-color: var(--secondary-color);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 50px;
    text-transform: capitalize;
}

.modify .site-info .info {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: var(--border);
    padding: 1rem;
    border-radius: 10px;
}

form.add > span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
    justify-content: flex-start;
    width: fit-content;
    border: 1.5px solid red;
}

.modify .site-info .info p {
    text-transform: lowercase;
}

form.add {
    text-transform: capitalize;
}

form.add label:first-child {
    box-shadow: var(--box-shadow);
    padding: 0.7rem;
    border-radius: 10px;
}

form.add > div {
    display: flex;
    flex-direction: column;
}

form.add > div textarea {
    height: 200px;
    border: var(--border);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
}

form.add label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form.add label > ul {
    background-color: var(--modal);
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 7.5rem 1rem 5rem;
    list-style-type: none;
    text-align: center;
    overflow: auto;
    z-index: 200;
}

form.add label > span {
    position: absolute;
    left: 1rem;
    border-radius: 10px;
    text-transform: lowercase;
}

form.add label > ul li {
    text-align: center;
    border: var(--border);
    padding: 1rem;
    border-radius: 50px;
}