main.manage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

div.switch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 1rem;
    border-width: 3px 0 3px;
    border-style: solid;
    border-color: var(--secondary-color);
    border-radius: 15px;
    padding: 1rem 0.5rem;
    margin: 0 0.5rem;
}

div.switch > h2 {
    grid-column: span 2;
}

div.switch > button {
    padding: 1rem 0;
    border-radius: 10px;
    border: 1.5px solid var(--secondary-color);
    text-transform: capitalize;
    color: var(--bg-txt-color);
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    white-space: pre-line;
}

.modify {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modify > .retry, .loading, .searched {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 0.5rem;
    margin-top: 1rem;
}

.modify > .retry > button {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem 1.5rem;
    text-transform: capitalize;
    border-radius: 50px;
}

.modify h2 {
    margin: 0 3.5rem;
    color: var(--bg-txt-color);
    font-family: sans-serif;
}

.modify > .searched .data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
}

.modify > .searched .data > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-bottom: 0.5rem;
    gap: 0.3rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.modify > .searched .data > div h4 {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.modify > .searched .data > div h5 {
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.modify > .searched .data .instituitions h4 {
    border: none;
}

.modify > .searched .data .instituitions img {
    object-fit: contain;
}

.modify > .searched .data .instituitions > span {
    text-transform: uppercase;
}

.modify > .searched .data .instituitions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--div-color);
}

.modify > .site-info-btns {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    align-items: center;
}

.modify > .site-info-btns button {
    background-color: var(--secondary-color);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 50px;
    text-transform: capitalize;
}

.modify .site-info .info {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: var(--border);
    padding: 1rem;
    border-radius: 10px;
}

.modify .site-info .info p {
    text-transform: lowercase;
}