* {
    font-family: sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  --bg-color: white;
  --bg-txt-color: black;
  --box-shadow: 0px 0px 2px black;
  --nav-bg: black;
  --border: 1.5px solid black;
  --primary-color: rgb(49, 127, 49);
  --secondary-color: #002b4c;
  --modal: rgba(225, 225, 225, 0.5);
  --input-span: black;
  --input-span-txt: white;
}

[data-theme="dark"] {
  --bg-color: rgba(0, 0, 0, 0.1);
  --bg-txt-color: white;
  --box-shadow: 0px 0px 2px white;
  --nav-bg: black;
  --border: 1.5px solid white;
  --modal: rgba(0, 0, 0, 0.5);
  --input-span: white;
  --input-span-txt: black;
}

body, html {
    background-color: var(--bg-color);
    color: var(--bg-txt-color);
}

header {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header button {
    border: none;
    background-color: transparent;
}

header .logo {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 0.5rem;
    font-size: 1.2rem;
}

header .navs button {
    border: none;
    background-color: transparent;
}

header .navs {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer {
    padding: 1.5rem 1rem 1.5rem;
}

footer p {
    text-align: right;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

main.auth {
    gap: 1rem;
}

h2 {
    text-transform: capitalize;
}

form > h3 {
    margin-left: 2rem;
}

form > button {
    align-self: flex-start;
    width: 50%;
    height: 50px;
    border: none;
    background-color: #002b4c;
    border-radius: 50px;
    color: white;
    text-transform: capitalize;
    margin-left: 2rem;
}

input {
    border: var(--border);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    width: 100%;
    background-color: transparent;
}

h1 {
    text-transform: capitalize;
    font-family: serif;
    padding: 1rem 1rem 0;
    color: rgb(49, 127, 49);
}