* {
    font-family: sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color:  #c0ebff;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer {
    padding: 1rem;
}

footer p {
    text-align: right;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1.5px solid black;
    padding: 0.5rem;
    border-radius: 10px;
}

legend {
    padding: 0 0.5rem;
}

form > button {
    border: none;
    height: 40px;
    width: 150px;
}