.user_auth {
    position: fixed;
    inset: 0;
    background-color: var(--modal);
    backdrop-filter: blur(10px);
    z-index: 99;
    padding: 2rem;
    color: var(--bg-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.user_auth > button {
    background-color: transparent;
    border: none;
    align-self: self-end;
}