form.add {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.add > label.select {
    box-shadow: var(--box-shadow);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 10px;
    text-transform: capitalize;
}

.add > label.select ul {
    position: fixed;
    inset: 0;
    background-color: var(--modal);
    z-index: 5;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    overflow: auto;
    padding: 7.5rem 1rem;
    backdrop-filter: blur(10px);
    text-align: center;
}

.add > label ul li {
    border: var(--border);
    padding: 1rem;
    border-radius: 50px;
}

.add > label > span {
    position: absolute;
    left: 1rem;
    text-transform: capitalize;
    background-color: var(--input-span);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
}

.add label.file span {
    position: relative;
    box-shadow: var(--box-shadow);
    background-color: transparent;
    color: var(--bg-txt-color);
    text-transform: lowercase;
}

.add label.file {
    display: flex;
    align-items: center;
    gap: 0;
}

.add input[type="file"] {
    display: none;
}

.add .retry {
    position: absolute;
    top: 2.5rem;
    background-color: var(--nav-bg);
    box-shadow: var(--box-shadow);
    z-index: 5;
    list-style-type: none;
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.add .retry > button {
    background-color: var(--secondary-color);
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    color: white;
    text-transform: capitalize;
}

form.add > span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
    justify-content: flex-start;
    width: fit-content;
    border: 1.5px solid red;
}