fieldset.select {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 2rem;
    gap: 1rem;
    border: var(--border);
    padding: 1rem;
    border-radius: 5px;
}

fieldset.select > div {
    box-shadow: var(--box-shadow);
    padding: 0.7rem 1rem;
    border-radius: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

fieldset.select > div ul {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: var(--modal);
    list-style-type: none;
    color: var(--modal-txt);
    padding: 7rem 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    backdrop-filter: blur(3px);
    overflow: auto;
}

fieldset.select > div ul > button {
    position: absolute;
    top: 6.5rem;
    right: 3rem;
}

fieldset.select > div ul li {
    border: var(--border);
    padding: 1rem;
    text-align: center;
    border-radius: 50px;
}

fieldset.select legend {
    text-transform: capitalize;
    padding: 0 0.5rem;
}