fieldset.select {
    display: grid;
    grid-template-columns: 10% auto;
    padding: 1rem;
    border: var(--border);
    gap: 1.5rem 1rem;
    border-radius: 5px;
    margin: 0 1rem 2rem;
}

fieldset.select > div, fieldset.select > button {
    box-shadow: var(--box-shadow);
    padding: 0.7rem 1rem;
    border-radius: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

fieldset.select > div ul {
    position: fixed;
    inset: 0;
    background-color: var(--modal);
    list-style-type: none;
    color: var(--modal-txt);
    padding: 7rem 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    backdrop-filter: blur(10px);
    overflow: auto;
    z-index: 50;
}

fieldset.select > div ul > button {
    position: absolute;
    top: 6.5rem;
    right: 3rem;
}

fieldset.select > div ul li {
    border: var(--border);
    padding: 1rem;
    text-align: center;
    border-radius: 50px;
}

fieldset.select legend {
    text-transform: capitalize;
    padding: 0 0.5rem;
}

fieldset.select > label {
    grid-column: span 2;
}

fieldset.select > label input {
    padding: 0.7rem 1rem;
    width: 100%;
}

fieldset.select > label span {
    position: absolute;
    left: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    padding: 0 0.5rem;
}