.feedback_modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    inset: 0;
    backdrop-filter: blur(10px);
    padding: 2rem;
}

.feedback_modal .success {
    border: 1.5px solid green;
    padding: 2rem;
}

.feedback_modal .error {
    border: 1.5px solid red;
    padding: 2rem;
}

.home_header_nav > button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.home_header_nav > nav {
    position: fixed;
    height: 100dvh;
    background-color: var(--nav-bg);
    z-index: 5;
    inset: 0;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 0.5rem;
}

.home_header_nav > nav a {
    text-decoration: none;
    border: 2px solid #002b4c;
    padding: 1rem;
    border-radius: 50px;
    text-transform: capitalize;
    color: #002b4c;
}

.select_theme {
    position: absolute;
    z-index: 10;
    background-color: var(--nav-bg);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    right: 1rem;
}

.select_theme > button {
    padding: 0.4rem 1rem;
    border-radius: 5px;
    color: #002b4c;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
}